<h2>
  {{book.title}}
  {{#if editing}}
    <a href="#" class="pull-right btn btn-success" {{action 'save'}}>Save</a>
    <a href="#" class="pull-right btn btn-warning" {{action 'cancel'}}>Cancel</a>
  {{else}}
    {{#canEditRecord book}}
      <a href="#" class="pull-right btn btn-info" {{action 'edit'}}>Edit</a>
    {{/canEditRecord}}
  {{/if}}
</h2>

<div>
  <dl class="dl-horizontal">
    <dt>Title</dt>
    <dd>
      {{#if editing}}
        {{input type="text" value=book.title class="form-control"}}
      {{else}}
        {{book.title}}
      {{/if}}
    </dd>
    <dt>Description</dt>
    <dd>
      {{#if editing}}
        {{input type="text" value=book.description class="form-control"}}
      {{else}}
        {{book.description}}
      {{/if}}
    </dd>
    <dt>Author</dt>
    <dd>{{#link-to 'author' book.author}}{{book.author.fullname}}{{/link-to}}</dd>
    <dt>User</dt>
    <dd>{{#link-to 'user' book.user}}{{book.user.fullname}}{{/link-to}}</dd>
  </dl>
</div>